<h1>Demo Work Items</h1>
<%=  link_to "Create new item", new_work_path %>
    <% @work_items.each do |work_item| %>
        <p>
            <%= work_item.title %>
        </p>
        <p>
            <%= work_item.subtitle %>
        </p>
        <p>
            <%= work_item.body %>
        </p>
        <%= image_tag work_item.thumb_image unless work_item.thumb_image.nil? %>
            <p>
                <%= link_to "Edit", edit_work_path(work_item.id) %>
            </p>
            <hr>
            <% end %>