<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
<%= render "shared/nav", location: 'top' %>


    <% # required by devise %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= login_helper %>


    <%= yield %>
    
   <%= source_helper %>


<hr class="devseparator">
<% if Rails.env.eql?('development') %>
    <p>View parameters : <%= params.inspect %></p>
    <hr>
    <p>Session parameters : <%= session.inspect %></p>
<% end %>
<% if Rails.env.eql?('test') %>
    <%= params.inspect %>
<% end %>
  </body>
</html>
