<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

    <% # required by devise %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<% if current_user %>
      <%= link_to "logout", destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to "login", new_user_session_path, method: :get  %>
      <%= link_to "register", new_user_registration_path, method: :get  %>
<% end %>

    <%= yield %>

<br><br><hr>
<% if Rails.env.eql?('development') %>
    <%= params.inspect %>
<% end %>
<% if Rails.env.eql?('test') %>
    <%= params.inspect %>
<% end %>
  </body>
</html>
